* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-width: 320px;
  min-height: 1877px;
  position: relative;
}

body::before {
  content: "";
  display: block;
  padding-top: 935%;
  /* ↓ don't delete this cuz might use this later */
  /* background: linear-gradient(180deg, rgb(129 185 191) 15%,rgb(161 218 227) 30%, rgb(162 219 226) 61%, rgb(171 197 86) 72%, rgb(152 197 127) 80%); */
  background: linear-gradient(180deg, rgb(129 185 191) 20%,rgb(161 218 227) 30%, rgb(162 219 226) 61%, rgb(171 197 86) 52%, rgb(152 197 127) 80%)
}

.contentsWrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  z-index: 0;
}

.section {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 30px;
  margin: 0;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-position: top;
  overflow: hidden;
}
/*
#section1::after,
#section2::after,
#section3::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 100%;
}

#section1::after {
  background: #80b7bc;
}

#section1::after {
  background: #a2dbe4;
}

#section1::after {
  background: #9ec785;
} */

#section1 {
  flex:1;
  background-image: url("../img/bg1.png");
}

.humanParaBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  display: none;
  background: rgba(0,0,0,.6);
  text-align: center;
  z-index: 2;
}

#section2 {
  flex: 3.2;
  background-image: url("../img/bg2.png");
  margin-top: 100px;
}

#section3 {
  flex: 0.8;
  background-image: url("../img/bg3.png");
}

#section4 {
  flex: 2;
  background-image: url("../img/bg4.png");
  background-position: bottom;
}

.contentsWrap_bg::after {
  content: "";
  display: block;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
