#section4 {
  padding-top: 120%;
}

the-title {
  text-align: center;
  margin-bottom: 20%;
}

the-clickable {
 width: fit-content;
 height: fit-content;
}

.box4_1 {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  margin-top: 3em;
  margin-bottom: 2em;
}

#section4 > .first {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
}

.first > .fishBox {
  display: flex;
  height: 20vh;
  width: auto;
  justify-content: flex-end;
}

.first > div > img {
  width: auto;
  max-height: 50%;
  margin: 2em;
}

.fish1 {
  align-self: baseline;
}

.fish2 {
  align-self: flex-end;
}


.second {
  padding: 2em;
}

.last {
  padding: 2em;
}


@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translate(0%);
  }
}

/* display none */

.first, .second, .last {
  opacity: 0;
} 
 
 
