#section4 {
  padding-top: 120%;
}

the-title {
  text-align: center;
  
}

the-clickable {
 width: fit-content;
 height: fit-content;
}

.box4_1 {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#section4 > .last {
  display: flex;
  width: 90%;
  flex-direction: column; 
}

.last > .fishBox {
  display: flex;
  height: 18vh;
  width: auto;
  align-items: flex-end;
}

.last > div > img {
  width: auto;
  max-height: 50%;
  margin: 1em;
}

.fish1 {
  align-self: baseline;
}

.fish2 {
  align-self: flex-end;
}


.second {
  padding: 1em;
}

.first {
  padding: 1em;
}


@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* display none */

.first, .second, .last {
  opacity: 0;
} 
 
 
