#section4 {
  padding-top: 120%;
}

the-title {
  text-align: center;
  margin-bottom: 20%;
}

the-clickable {
 width: fit-content;
 height: fit-content;
}

.box4_1 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

#first {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  
}

#first > img {
  width: 10%;
  height: 100%;
}

.para4_2 {
  text-align: right;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translate(0%);
  }
}

/* display none */

#first, #second, #last, .box4_2 {
  display: none;
}
 
     